[submodule "etc/tomorrow-theme"]
	path = etc/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme
[submodule ".claude/ext/mattpocock-skills"]
	path = home/.agents/ext/mattpocock-skills
	url = https://github.com/mattpocock/skills
