[user]
    name = Alan Norton
    email = me@alannorton.com
[github]
    user = nonrational
[core]
    excludesfile = /opt/boxen/config/git/gitignore
	# excludesfile = /Users/norton/.gitignore_global
    quotepath = false
    whitespace = cr-at-eol
[alias]
    push = "!git push || $(git push 2>&1 | tail -n2 | head -n1)"
    pull = pull --ff-only
    ci = commit -v
    co = checkout
    df = "diff ..@{u}"
    di = diff
    dc = diff --cached
    r = !git l -20
    la = !git l --all
    ra = !git r --all
    l = "!. ~/.githelpers && pretty_git_log"
    amend = commit --amend
    mad = add *
    aa = add --all .
    st = status
    stp = status --porcelain
    sync = !sh -c \"git pull && git push\"

    drb = !git svn rebase
    dci = "!. ~/.githelpers && dcommit_from_master"
    drevise = "!git rebase -i git-svn"

    modified = "!git ls-files --modified"
    deleted = "!git ls-files --deleted"
    untracked = "!git ls-files --others --exclude-standard"

    assumed = !sh -c \"git ls-files -v | grep '^[a-z]'\"
    disregard = update-index --assume-unchanged
    dismiss = update-index --assume-unchanged
    dissed = !git ls-files -v | grep ^[a-z] || echo "None"
    attend = update-index --no-assume-unchanged
    wtf = "!. ~/.githelpers && what_the_hell_just_happened"
    nuke = "!git reset --hard HEAD && git clean -fd"
    firm = "!git reset --soft $1 && git reset"

    aww = "!. ~/.githelpers && add_wildcard"
    mall = "!git up && git co stage && git merge master && git push origin stage && git co develop && git merge stage && git push origin develop"
    sup = "!. ~/.githelpers && current_pulls_into_here"
    super = "!. ~/.githelpers && current_pulls_into_here_with_colorful_status"

    lt = "!git tag | sort -n -t. -k1,1 -k2,2 -k3,3"
    stag = "!git tag | sort -n -t. -k1,1 -k2,2 -k3,3"

    obliterate = "!git branch -D $1 && git push origin :$1 && echo OBLITERATED"

    prune-merged-branches = "!git branch --merged | xargs git branch -d"

[color]
    ui = true
[gist]
    browse = true
    private = true
[hub]
    protocol = https
    user = nonrational
[credential]
	helper = /opt/boxen/bin/boxen-git-credential
[push]
	default = simple
[git-up "bundler"]
	check = true
[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true
    keepBackup = false;
    tool = p4merge
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
