#Host *
#     ForwardAgent no

Host minimal.thruhere.net
        User norton
        Port 2121
        ForwardAgent yes
        #LocalForward 5900 10.0.1.100:5900
        #DynamicForward 9999

Host nonrational.org
        User nonrational

Host sandbox.betterment.com
        User anorton
        Port 999

Host *.betterment.com castle webvm1 dbvm1 webvm2 dbvm2 knight 
        User anorton
        ForwardAgent no
