[user]
  name = Alan Norton
  email = git@nonration.al
[github]
  user = nonrational
[hub]
  protocol = https
  user = nonrational

[include]
  path = ~/.local/.gitconfig
  # OS-specific config; git silently skips missing include paths.
  path = ~/.gitconfig.Darwin

[includeIf "gitdir:~/wrk/**"]
  path = ~/wrk/.gitconfig

[core]
  # Use custom `.gitignore` and `.gitattributes`
  attributesfile = ~/.gitattributes
  quotepath = false
  excludesfile = ~/.gitignore_global

  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

  # Make `git rebase` safer on macOS
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

[alias]
  # Short Core Commands
  st = status
  pp = push

  ci = commit -v
  co = checkout
  dc = diff --cached
  df = "diff --name-only"
  dfo = "!git df $(git opb)"
  ri = rebase -i

  amend = commit --amend
  aa = add --all .
  buu = "branch --unset-upstream"
  bc = "branch --show-current"
  rs = "rev-parse --short HEAD"

  # Fetching from Remotes
  opb = "!. ~/.githelpers && remote_origin_primary_branch"
  pb = "!. ~/.githelpers && remote_origin_primary_branch | sed 's|origin/||g'"
  f = "fetch --tags --force --prune"

  # Branch Management
  mov = "branch -m"
  bmx = "!. ~/.githelpers && rename_branch_regex"
  rio = "!git f && git rebase -i $(git opb)"

  # Wildcard Support
  aww = "!. ~/.githelpers && add_wildcard"
  rww = "!. ~/.githelpers && reset_wildcard"
  xww = "!. ~/.githelpers && discard_wildcard"

  sww = "!. ~/.githelpers && switch_wildcard"

  # List subcategories of unstaged files
  mod = "!git ls-files --modified ."
  del = "!git ls-files --deleted ."
  new = "!git ls-files --others --exclude-standard"
  ignored = "!git ls-files --others --ignored --exclude-standard * **/*"

  # Manage changes that aren't destined to be committed
  regard = update-index --no-assume-unchanged
  disregard = update-index --assume-unchanged
  dissed = !git ls-files -v | grep ^[a-z] || echo "None"
  is-it-just-me = "!$EDITOR .git/info/exclude" # ignore untracked files in this specific repo

  # Inspect current or recent changes
  head = !git r -1
  hp = "!. ~/.githelpers && show_git_head"
  lt = "!git tag | sort -n -t. -k1,1 -k2,2 -k3,3" # Sort by semantically versioned tags
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
  r = !GIT_NO_PAGER=1 git l -10
  ra = !git r --all
  b = "!. ~/.githelpers && pretty_git_branch"
  bs = "!. ~/.githelpers && pretty_git_branch_sorted"

  # List local branches, most recent first
  lb = "!. ~/.githelpers && list_branches_by_relative_commit"
  lbs = "!. ~/.githelpers && switch_recent_branches_by_index"
  lba = "!. ~/.githelpers && switch_all_branches_by_index"
  brr = branch --sort=-committerdate

  # Keep things tidy
  broom = "!. ~/.githelpers && delete_remoteless_branches_interactive"
  spring-cleaning = "!. ~/.githelpers && delete_all_my_branches_interactive"
  everybody-out = "!. ~/.githelpers && delete_all_others_local_branches"
  nuke = "!git reset --hard HEAD && git clean -fd"

  # Move fast and commit things
  bump = "commit --allow-empty -m'ci-bump'"
  wip = commit -v -m'wip'
  yolo = !git mod | xargs git add && git commit --allow-empty -m \"$(curl -s https://whatthecommit.com/index.txt)\"

  subup = "submodule update --remote --recursive"

[status]
  relativePaths = true
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[gist]
  browse = true
  private = true

[pull]
  rebase = true
[push]
  default = simple
  autoSetupRemote = true
[merge]
  log = true
  keepBackup = false;
[gc]
  auto = 0
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[diff]
  renameLimit = 999999
[rebase]
  instructionFormat = (%an <%ae>) %s
[advice]
  skippedCherryPicks = false
