"*":
  core:
    audioBeep: false
    themes: [
      "atom-light-ui"
      "atom-espresso-soda-theme"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "e3fcfd98-c608-8d34-1ad3-5f83e3abafc0"
  "markdown-preview":
    useGitHubStyle: true
  welcome:
    showOnStartup: false
